.st0{fill:none;}
.st1{fill:url(#SVGID_1_);}
.st2{
    fill:#5C873C;
    stroke:#5C873C;
    stroke-width:2;
    fill:none;
}
.st3{
    fill:#D2DC79;
    stroke:#D2DC79;
    stroke-width:1;
    fill:none;
}
.st4{
    fill:#93BD47;
    stroke:#93BD47;
    stroke-width:1;
    fill:none;
}
.st5{
    fill:#5A833A;
    stroke:#5A833A;
    stroke-width:1;
    fill:none;
}
.st6{
    fill:#92BA49;
    stroke:#92BA49;
    stroke-width:1;
    fill:none;
}
.st7{
    fill:#D2DA7B;
    stroke:#92BA49;
    stroke-width:1;
    fill:none;
}
.st8{
    fill:#5B843A;
    stroke:#5B843A;
    stroke-width:1;
    fill:none;
}
.st9{
    fill:#93BA49;
    stroke:#93BA49;
    stroke-width:1;
    fill:none;
}
.st10{
    fill:#5A8239;
    stroke:#5A8239;
    stroke-width:1;
    fill:none;
}
.st11{
    fill:#93B949;
    stroke:#93B949;
    stroke-width:1;
    fill:none;
}
.st12{
    fill:#D2DA7C;
    stroke:#D2DA7C;
    stroke-width:1;
    fill:none;
}
.st13{
    fill:#94BD49;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st14{
    fill:#D3DC7A;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st15{
    fill:#4F7534;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st16{
    fill:#8AAD49;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st17{
    fill:#CCD47F;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st18{
    fill:#405E2A;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st19{
    fill:#C2C984;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st20{
    fill:#7C9A47;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st21{
    fill:#597E35;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st22{
    fill:#91B549;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st23{
    fill:#D0D87E;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st24{
    fill:#D2DB7B;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st25{
    fill:#527835;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st26{
    fill:#8CB049;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st27{
    fill:#CDD57E;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st28{fill:#588139;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st29{fill:#91B849;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st30{
    fill:#D1D97C;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st31{
    fill:#557D37;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st32{
    fill:#8EB449;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st33{
    fill:#CFD77D;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st34{
    fill:#3D5928;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st35{
    fill:#7A9649;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st36{
    fill:#C1C786;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st37{
    fill:#5C863C;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st38{
    fill:#517835;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st39{
    fill:#8BB049;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st40{
    fill:#4E7233;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st41{
    fill:#89AB49;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st42{
    fill:#CBD37F;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st43{
    fill:#577F38;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st44{
    fill:#90B649;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st45{
    fill:#D0D87C;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st46{
    fill:#93B849;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st47{
    fill:#D1DA7C;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st48{
    fill:#92B849;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st49{
    fill:#567E38;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st50{
    fill:#8FB549;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st51{
    fill:#CFD87C;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st52{
    fill:#5A843B;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st53{
    fill:#D1DB7A;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st54{
    fill:#92BB47;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st55{
    fill:#5A8138;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st56{
    fill:#588038;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st57{
    fill:#91B749;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st58{
    fill:#D0D97C;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st59{
    fill:#5A853B;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st60{
    fill:#93BB49;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st61{
    fill:#547B37;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st62{
    fill:#8EB349;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st63{
    fill:#CED77D;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st64{
    fill:#47692F;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st65{
    fill:#C6CE81;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
.st66{
    fill:#82A347;
    stroke:#94BD49;
    stroke-width:1;
    fill:none;
}
/*
树
*/
.stt{
    stroke:gray;
    stroke-width:1;
    fill:green;
}